In [ ]:
# import pandas library
import pandas as pd

# import selenium webdriver to read pages
from selenium import webdriver
# import selenium options to fit the page & read correctly
from selenium.webdriver.chrome.options import Options

# import selenium by to find items by its category
from selenium.webdriver.common.by import By

In [1]:

# define the website link as a variable
website = 'https://www.adamchoi.co.uk/overs/detailed'

# define the loctation of chromedriver (put your own path instead)
path = '/Users/hp/Downloads/Software sources/chromedriver_win32/chromedriver'

options = Options()

#chrome binary location specified here (put your own path instead)
options.binary_location = "C:\Program Files (x86)\Google\Chrome\Application\chrome.exe"

#open Browser in maximized mode
options.add_argument("--start-maximized")

#bypass OS security model
options.add_argument("--no-sandbox")

#overcome limited resource problems
options.add_argument("--disable-dev-shm-usage") 

options.add_experimental_option("excludeSwitches", ["enable-automation"])
options.add_experimental_option('useAutomationExtension', False)

# define the main variable for scraping with chrome
driver = webdriver.Chrome(options=options, executable_path = path)

# open the website
driver.get(website)

# find the all matches button & assign it to a variable
matches_button = driver.find_element(By.XPATH, "//label[@analytics-event='All matches']")

# click all matches button
matches_button.click()

# find the all matches table & assign it to a variable
matches = driver.find_elements(By.TAG_NAME, "tr")

# assign lists for the table columns
date = []
home_team = []
score = []
away_team = []

# find the information per column & add it to its suitable list
for match in matches:
    date.append(match.find_element(By.XPATH, "./td[1]").text)
    home_team.append(match.find_element(By.XPATH, "./td[2]").text)
    score.append(match.find_element(By.XPATH, "./td[3]").text)
    away_team.append(match.find_element(By.XPATH, "./td[4]").text)

# collect all the lists & create a datafram gathering the data    
df_england = pd.DataFrame({'date': date, 'home_team': home_team, 'score': score,\
                  'away_team': away_team})

C:\Users\hp\AppData\Local\Temp/ipykernel_16136/3749454158.py:22: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(options=options, executable_path = path)

In [2]:
# close the web page
driver.quit()

In [3]:
# read first 5 rows of the newly created datafram
df_england.head()

         date  home_team  score away_team
0  13-08-2021  Brentford  2 - 0   Arsenal
1  22-08-2021    Arsenal  0 - 2   Chelsea
2  28-08-2021   Man City  5 - 0   Arsenal
3  11-09-2021    Arsenal  1 - 0   Norwich
4  18-09-2021    Burnley  0 - 1   Arsenal

In [5]:
# create a csv file containing the data gathered
df_england.to_csv('football_england.csv', index = False)

In [6]:
# read the csv file created to assure it's working
england = pd.read_csv('football_england.csv')
england.head()

         date  home_team  score away_team
0  13-08-2021  Brentford  2 - 0   Arsenal
1  22-08-2021    Arsenal  0 - 2   Chelsea
2  28-08-2021   Man City  5 - 0   Arsenal
3  11-09-2021    Arsenal  1 - 0   Norwich
4  18-09-2021    Burnley  0 - 1   Arsenal

- ##### Here is a repetition of the same process, but with a slight change of selecting a different country from a drop-down menu to get related data to this country. This is where Selenium works better with Dynamic websites.

In [9]:
# import selenium library for select function
from selenium.webdriver.support.ui import Select

# import time to add waits for loading dropdown menu
import time

In [10]:
# define the main variable for scraping with chrome
driver = webdriver.Chrome(options=options, executable_path = path)

# open the website
driver.get(website)

# find the all matches button & assign it to a variable
matches_button = driver.find_element(By.XPATH, "//label[@analytics-event='All matches']")

# click all matches button
matches_button.click()

# find the dropdown menu & assign it to a variable
dropdown = Select(driver.find_element(By.ID, 'country'))

# select desired country from the dropdown menu
dropdown.select_by_visible_text('Spain')

# wait 3 socends until country selection is loaded
time.sleep(3)

# find the all matches table & assign it to a variable
matches = driver.find_elements(By.TAG_NAME, "tr")

# assign lists for the table columns
date = []
home_team = []
score = []
away_team = []

# find the information per column & add it to its suitable list
for match in matches:
    date.append(match.find_element(By.XPATH, "./td[1]").text)
    home_team.append(match.find_element(By.XPATH, "./td[2]").text)
    score.append(match.find_element(By.XPATH, "./td[3]").text)
    away_team.append(match.find_element(By.XPATH, "./td[4]").text)

# collect all the lists & create a datafram gathering the data 
df_spain = pd.DataFrame({'date': date, 'home_team': home_team, 'score': score,\
                  'away_team': away_team})

C:\Users\hp\AppData\Local\Temp/ipykernel_16136/3820611537.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(options=options, executable_path = path)

In [15]:
# close the web page
driver.quit()

In [11]:
# read first 5 rows of the newly created datafram
df_spain.head()

         date home_team  score    away_team
0  14-08-2021    Alaves  1 - 4  Real Madrid
1  21-08-2021    Alaves  0 - 1     Mallorca
2  27-08-2021  Valencia  3 - 0       Alaves
3  18-09-2021    Alaves  0 - 2      Osasuna
4  22-09-2021   Espanol  1 - 0       Alaves

In [12]:
# create a csv file containing the data gathered
df_spain.to_csv('football_spain.csv', index = False)

In [13]:
# read the csv file created to assure it's working
spain = pd.read_csv('football_spain.csv')
spain.tail()

           date   home_team  score   away_team
673  20-03-2022       Cadiz  1 - 0  Villarreal
674  02-04-2022     Levante  2 - 0  Villarreal
675  09-04-2022  Villarreal  1 - 1  Ath Bilbao
676  16-04-2022      Getafe  1 - 2  Villarreal
677  19-04-2022  Villarreal  2 - 0    Valencia